extends layout

block content
    .uk-vertical-align.uk-text-center.uk-height-1-1
        .uk-vertical-align-middle.uk-position-relative
            img.uk-margin-bottom(src='/images/404.png', alt='')
            .uk-position-absolute(style="right:0px;top:249px;width:536px;font-family: 'Microsoft YaHei UI Light'")
                div(style='font-size: 22px;line-height: 30px;margin: 10px 0px 25px;') 页面好像找不到了
                a(href='/', style='display: block;background: #009FFF;width: 200px;color:white;font-size: 17px;text-align: center;line-height: 35px;margin: 0 auto;') 返回首页
