doctype html
html.uk-height-1-1.uk-notouch
  head
    meta(charset='UTF-8')
    title 我的平台
    link(rel='stylesheet', href='/css/uikit.min.css')
    script(src='/js/jquery.min.js')
    script(src='/js/uikit.min.js')
  body.uk-height-1-1(style="background:rgba(219, 227, 228, 0.85)")
    block content
