extends layout

block content
    form(action='/account/submit/', method='post')
        input(name='username', type='text', value='')
        input(name='password', type='password', value='')
        button 提交
        
