h2.uk-margin-bottom.uk-margin-top 韵达快递
nav.uk-navbar.uk-margin
    ul.uk-navbar-nav.uk-hidden-small
        li(class=/\/courier\/orders*/.test(locals.url)? 'uk-active':'')
            a(href='/courier/orders') 订单管理
        li(class=/\/courier\/user*/.test(locals.url)? 'uk-active':'')
            a(href='/courier/user') 用户管理
        li
            a(href='') 短信发送池
        li
            a(href='') 个人主页