h2.uk-margin-top
    img(src="/images/logo_courier.png")
    //.uk-float-right.uk-margin.uk-h6
        a.uk-margin-right shangxinbo
        a 退出
nav.uk-navbar.uk-margin
    ul.uk-navbar-nav.uk-hidden-small
        li(class=/\/courier\/user*/.test(locals.url) ? 'uk-active' : '')
            a(href='/courier/user') 用户管理
        li(class=/\/courier\/orders*/.test(locals.url)? 'uk-active':'')
            a(href='/courier/orders') 快递管理
        li(class=/\/courier\/sms\/list*/.test(locals.url)? 'uk-active':'')
            a(href='/courier/sms/list') 短信日志
        li(class=/\/courier\/setting*/.test(locals.url)? 'uk-active':'')
            a(href='/courier/setting') 系统设置
        li(class=/\/courier\/sms\/alone*/.test(locals.url) ? 'uk-active' : '')
            a(href='/courier/sms/alone') 独立短信