
#add_customer.uk-modal
    .uk-modal-dialog
        a.uk-modal-close.uk-close
        .uk-modal-header
            h3  添加用户
        //.uk-alert.uk-alert-danger
        .uk-margin.uk-width-1-2.uk-container-center
            form.uk-form.uk-form-horizontal(onsubmit='return false;')
                .uk-form-row
                    label.uk-form-label(for='name') 姓名:
                    .uk-form-controls
                        input.uk-form-width-large(type='text', name='name', placeholder='')
                .uk-form-row
                    label.uk-form-label(for='tel') 电话:
                    .uk-form-controls
                        input.uk-form-width-large(type='tel', maxlength="11" name='tel', placeholder='')
                .uk-form-row
                    label.uk-form-label(for='town') 居住地:
                    .uk-form-controls
                        select.uk-form-width-large(name='town')
                            option(value='1') 菜园村
                            option(value='2') 杨各庄
                .uk-form-row
                    label.uk-form-label(for='marks') 备注:
                    .uk-form-controls
                        textarea.uk-form-width-large(name='marks')
        .uk-modal-footer.uk-text-right
            button.uk-button(data-close) 取消
            button.uk-button.uk-button-primary 确定

#edit_customer.uk-modal
    .uk-modal-dialog
        a.uk-modal-close.uk-close
        .uk-modal-header
            h3  修改用户信息
        //.uk-alert.uk-alert-danger
        .uk-margin.uk-width-1-2.uk-container-center
            form.uk-form.uk-form-horizontal(onsubmit='return false;')
                .uk-form-row
                    label.uk-form-label(for='name') 姓名:
                    .uk-form-controls
                        input.uk-form-width-large(type='text', name='name', placeholder='')
                .uk-form-row
                    label.uk-form-label(for='tel') 电话:
                    .uk-form-controls
                        input.uk-form-width-large(type='tel', maxlength="11" name='tel', placeholder='')
                .uk-form-row
                    label.uk-form-label(for='town') 居住地:
                    .uk-form-controls
                        select.uk-form-width-large(name='town')
                            option(value='1') 菜园村
                            option(value='2') 杨各庄
                .uk-form-row
                    label.uk-form-label(for='marks') 备注:
                    .uk-form-controls
                        textarea.uk-form-width-large(name='marks')
        .uk-modal-footer.uk-text-right
            button.uk-button(data-close) 取消
            button.uk-button.uk-button-primary 确定

#add_order.uk-modal
    .uk-modal-dialog
        a.uk-modal-close.uk-close
        .uk-modal-header
            h3  添加新订单
        //.uk-alert.uk-alert-danger
        .uk-margin.uk-width-2-3.uk-container-center
            form.uk-form.uk-form-stacked(onsubmit='return false;')
                .uk-form-row
                    label.uk-form-label(for='code') 订单号:
                    .uk-form-controls
                        input.uk-form-width-large(type='text', name='code', placeholder='')
                .uk-form-row
                    label.uk-form-label(for='company') 快递公司:
                    .uk-form-controls
                        select.uk-form-width-large(name='company')
                            //TODO 配置文件转化
                            option(value='0') 韵达
                            option(value='1') 圆通
                            option(value='2') 申通
                            option(value='3') EMS
                .uk-form-row
                    label.uk-form-label(for='in_time') 入库时间:
                    .uk-form-controls
                        input.uk-form-width-large(name="in_time",readonly="readonly",data-uk-datepicker="{format:'YYYY-MM-DD'}")
        .uk-modal-footer.uk-text-right
            button.uk-button(data-close) 取消
            button.uk-button.uk-button-primary 确定