doctype html
html
  head
    title #{title}
    meta(charset='utf8')
  body
    div
        a(href="/upload" style='width:200px; height:40px; color:red; text-align: center;') 上传文件
    div
        a(href="/sms" style='width:200px; height:40px; color:red; text-align: center;') 发送短信
